#content {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

#quote-container {
  margin-top: 20px;
}
a:link {
  color: black;
}
.image1 {
  position: absolute;
  top: 10px;
  right: 50%;
  width:15%; }

h1 {
  margin-left: auto;
  margin-right: auto;
  font-size: 4.5em;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  font-size: 1.5em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
      font-size: 1.0em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.image2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  width:95%;
}
