#content {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

#quote-container {
  margin-top: 20px;
}

a:link {
  color: black;
}

h1 {
  margin-left: auto;
  margin-right: auto;
  font: 4.5em Arial, Helvetica, sans-serif;
}
h2 {
  margin-left: auto;
  margin-right: auto;
  font: 2.5em Arial, Helvetica, sans-serif;
}
h3 {
  margin-left: auto;
  margin-right: auto;
  font: 1.5em Arial, Helvetica, sans-serif;
}

a {
  font: 1.5em Verdana, Geneva, Tahoma, sans-serif;
  float: left;
}

p{
  font: 1.0em Verdana, Geneva, Tahoma, sans-serif;
}

.upper-info {
  color: gray;
}

.header-image {
  position: absolute;
  top: 10px;
  left: 35%;
  max-width:25%;
  max-height:25%;
}

.bottom-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  width:95%;
}

img.resize {
  max-width:20%;
  max-height:20%;
}
.song-info{
    margin-bottom: -1em;
}
.song-by{
    margin-bottom: -1em;
    color: darkgray;
      font: 0.75em;

}